@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #00cc99;
  font-family: "Bangers", cursive;
}

.brand-logo {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.brand-name {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: white;
}

.navbar-link {
  text-decoration: none;
  color: white;
}

.cart-icon {
  margin-left: 20px;
  color: white;
}
